src/App.css body {
    background: linear-gradient(135deg, #0a0e24, #231e3c);
}

.App {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    /* Semi-transparent black */
    color: #fff;
}

.logo {
    font-size: 1.5rem;
}

.buttons button {
    background-color: #36a9e1;
    /* Aave blue */
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #1c7bbf;
    /* Darker shade of Aave blue */
}

.content {
    padding: 2rem;
}